div.sidebar:not(.margin){
	background-color: #cccccc;
	border-radius: 10px;
	font-size: 0.85em;
}

div.topic{
	background-color: #f7f7ff;
	font-size: 0.85em;
	padding: 0 40px 0 40px;

}
p.topic-title{
	font_style: italic;
}